<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="topnav">
  <div (click)="sharedService.navCommitisVisible$.next(false)">
    <a [ngClass]="{ 'active': currentRoute === RoutesPath.main || currentRoute === '/' }" routerLink="main">Go to main</a>
    <a [ngClass]="{ 'active': currentRoute === RoutesPath.repos }" routerLink="repos">Go to repos</a>
  </div>
  <a *ngIf="isVisible" [ngClass]="{ 'active': currentRoute === RoutesPath.commits }" routerLink="repos">Go to commits</a>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>